form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  mat-form-field,
  button {
    margin-bottom: 7px;
  }
  
  p {
    margin-top: 5px;
  }
  